body {
    width: 100vw;
    height: 100vh;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.sidebar {
    background-color: steelblue;
}

.header {
    background-color: aquamarine;
}

.articles {
    background-color: blueviolet;
}