/*Meyer's reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Utilize fonts in font folder*/
@font-face {
	font-family: Vidaloka-Regular;
	src: url(./fonts/Vidaloka-Regular.ttf);
  }
  
  @font-face {
	font-family: Roboto-Light;
	src: url(./fonts/Roboto-Light.ttf);
  }

/*Create CSS custom properties declaration*/
:root {
	--sidebar-color: #9EB384;
	--accent-color: #435334;
	--main-bg-color: #CEDEBD;
	--header-color: #FAF1E4;
	--main-font-family: Roboto-Light, sans serif;
	--secondary-font-family: Vidaloka-Regular, serif 
}

/*Establish size for body and other parts*/
body {
	font-family: var(--main-font-family);
	height: 100vh;
}

.main-container {
	height: 100%;
}

/*Styling and positioning containers*/
.main-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.sidebar {
	display: grid;
	grid-template-rows: 1fr 5.5fr 6fr;
	gap: 3rem;
	padding-left: 20px;
	text-shadow: 1px 0 var(--header-color);
	color: var(--header-color);
}

.dashboard-logo {
	display: flex;
	font-size: large;
	font-weight: 1000;

	padding-top: 20px;
	place-items: center;
}

.side-top,
.side-bottom {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.icon-container{
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.side-top svg,
.side-bottom svg {
	width: 25px;
}

.side-top p,
.side-bottom p {
	font-size: 18px;
	font-weight: bolder;
	letter-spacing: 1.2px;
	padding-top: 1px;
}

.dashboard-logo svg {
	width: 50px;
}

.header {
	display: grid;
	grid-template-columns: 2fr 1fr;
    background-color: var(--header-color);
	box-shadow: 10px 5px 5px black;
}

.header-left {
	display: grid;
	grid-template-rows: 2fr 3fr;
}

.search-bar {
	display: flex;
	place-items: center;
	padding-left: 3rem;
	gap: 15px;
}

.search-bar input {
	height: 24px;
	width: 70%;
	border-radius: 50px;
	padding-left: 15px;
	border-style: none;
	background-color: var(--main-bg-color);
	color: var(--accent-color);
}

input:focus {
	outline-color: var(--accent-color);
}

.search-bar svg {
	width: 25px;
}

.publisher {
	display: flex;
	align-items: center;
	gap: 20px;
	padding-left: 3rem;
}

.publisher img {
	width: 50px;
	height: 50px;
}

.publisher-text {
	display: flex;
	flex-direction: column;
	gap: 4px;
	color: var(--accent-color);
}

.publisher-text p {
	font-size: smaller;
}

.publisher-text h1 {
	font-weight: 1000;
	text-shadow: 1px 0 var(--accent-color);
	letter-spacing: 0.5px;
}

.header-right {
	background-color: #435334;
}

.articles {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.left-article {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: 1fr 1fr;
	gap: 15px;
	padding: 15px;
}

.right-article {
	display: grid;
	grid-template-rows: 2;
	gap: 15px;
	padding: 15px 0px 15px;
	padding-right: 20px;
}

/*Span of rows and columns*/
.sidebar {
    background-color: var(--sidebar-color);
	grid-row: 1 / span 3;
}

.articles {
    background-color: var(--main-bg-color);
	grid-row: 2 / span 2;
}

.cards {
	background-color: var(--header-color);
}

.announcements,
.trending {
	background-color: var(--header-color);
}